/* メインタイトルのCSS */
#main_title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}




/* イベント一覧全体のCSS */
#event_list {
    width: 500px;
    margin-inline: auto;
    padding-bottom: 50px;
}

.event_item {
    position: relative;
    padding-top: 15px;
    border-bottom: solid rgb(217, 217, 217) 3px;
}


/* イベント名のCSS */
.event_name {
    text-align: center;
}

/* 詳細ボタンのCSS */
.button_area {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 5px;
}

.event_detail_button {
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 118px;
    background-color: transparent;
    cursor: pointer;
  }