@charset "UTF-8";

.event_reservation_form {
    width: 684px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event_reservation_form_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.event_reservation_form_item {
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    background-color: #F5F5F5;
    cursor: pointer;
    width: 100%;
    padding: 30px;
}

.event_reservation_form_item:hover {
    opacity: 0.4;
    transition: .3s;
}

.event_reservation_radio_input_container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.event_reservation_radio_input {
    accent-color: #F56A1C;
    inline-size: 23px;
    block-size: 23px;
}

.event_reservation_buttons_container {
    display: flex;
    gap: 67px;
    justify-content: center;
    margin-top: 91px;
}

.review_stars_container {
    display: flex;
}

.review_stars_container span {
    display: inline-block;
    color: #D9D9D9;
    font-size: 24px;
}

.review_stars_container .reviewed {
    color: #F56A1C;
}

.review_stars_container.big_stars {
    justify-content: center;
}

.review_stars_container.big_stars span {
    font-size: 76px;
}

.review_comment_item {
    border: solid #D9D9D9 1px;
    border-radius: 4px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.review_comment_head_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review_comment_title {
    font-size: 24px;
}

.review_comment_select {
    width: 180px;
    height: 50px;
    font-size: 20px;
    margin-left: auto;
}

.review_comment_select option {
    font-size: 20px;
}