 /* 小見出しの横並び */
.index-flex {
    display: flex;
}

.index-flex p {
    font-size: 18px;
    font-weight: 500;
}

/* 小見出しの丸 */
.index {
    width: 16px;
    height: 16px;
    background-color: #389BE3;
    border-radius: 30px;
    margin-right: 8px;
    margin-top:auto; 
    margin-bottom: auto
}

/* 必須項目強調 */
.required {
    color: #F56A1C;
    font-weight: 700;
}

/* バリテーション判定の条件説明の文章 */
.judgment {
    color: #7B7B7B;
    margin-left: 20px;
}

/* 入力欄 */
.input_box {
    width: 100%;
    padding: 10px;
    outline: none;
    border: solid 1px #389BE3;
    border-radius: 4px;
    font-size: 16px;
}

/* 区切り線 */
.under{
    padding: 16px 20px;
    border-bottom: solid rgb(217, 217, 217) 2px;
}

/* ラジオボタン */
/* ラジオボタンのスタイルリセット */
.radio-button input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1.4px solid #7B7B7B;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.radio-button {
    display: flex;
    padding-top: 8px;
}

.radio-button input {
    margin: 0px 4px 0px 20px;
} 


/* ラジオボタンのカスタムスタイル */
.radio-button input[type="radio"]:checked {
  background-color: #F56A1C;
  border-color: #F56A1C;
}

/* ラジオボタンのラベルのスタイル */
.radio-button label {
  margin-right: 10px;
}



/* 共通CSSの修正 */
.section_item {
    gap: 10px;
    margin: 0px 0px 30px 0px;
}

.section_container {
    gap: 0px;
}

.event_reservation_buttons_container {
    gap: 0px;
}

.section_button {
    margin: 0px 33px;
}
