.under{
    width: 600px;
    padding: 10px;
    border-bottom: solid 2px #dbdbdb;
}


.container1 {
    text-align:center;
}

.required {
    color: #ed7171
}

.center{
    width:16em;
    margin:0 auto;
    text-align:center;
}
