{% extends "layout_customer.html" %}

{% block body %}
    <main>
        <div class="new_member_registration">

            <form id="inputForm" method="post" class="new_member_registration">
                <div id="form_area" class="base_pattern">
                <p>アカウント名<span class="required">（必須）</span>：</p>
                <p><input name="customer_account" type="text" value="customer_name"></p>

                <p>パスワード<span class="required">（必須）</span>：</p>
                <p><input name="customer_password" type="text" value="password"></p>

                <p>氏名<span class="required"></span>：</p>
                <p><input name="customer_name" type="text" value="山田太郎"></p>

                <p>郵便番号<span class="required"></span>：</p>
                <p><input name="customer_zipcode" type="text" value="1230000"></p>

                <p>住所<span class="required"></span>：</p>
                <p><input name="customer_address" type="text" value="東京都千代田区1丁目1-1"></p>

                <p>電話番号<span class="required"></span>：</p>
                <p><input name="customer_phone" type="text" value="08012345678"></p>

                <input type="radio" name="customer_payment" value=1>クレジットカード
                <input type="radio" name="customer_payment" value=2>PayPay
                <input type="radio" name="customer_payment" value=3>振込
                <input type="radio" name="customer_payment" value=0 checked="checked">後で設定する

                </div>
                <div id="button_area">
                    <input type="submit" formaction="{{url_for('customer_new_member', mode=mode)}}" class="confirm_button" value="登録">
                </div>
            </form>
        </div>
    </main>

{% endblock %}