{% extends "layout_customer.html" %}

{% block body %}



<!-- 機能画面表示領域 -->
<div class="container">
  <h1 id="main_title">
    イベント一覧
  </h1>

  <div id="list_area" class="base_pattern">
      <div id="event_list">
        {% for event in mst_events %}
        <div class="event_item">
          <h2 class="event_name">{{ event.event_name }}</h2>
          <div class="button_area">
            <input type="button" class="event_detail_button" value="詳細"
              onclick="location.href='/event/{{ event.event_id }}'">
          </div>
        </div>
        {% endfor %}
      </div>
  </div>
  </div>


</div>

{% endblock %}