{% extends "layout_customer.html" %}

{% block body %}
    
<section class="section">
    <h2 class="section_title">イベント詳細</h2>
    <div class="section_container">
        <div class="section_item">
            <h3 class="section_item_label">イベント名</h3>
            <p class="section_item_content">{{ event.event_name }}</p>
        </div>
    
        <div class="section_item">
            <h3 class="section_item_label">イベントカテゴリ</h3>
            <p class="section_item_content">{{ event_category_name }}</p>
        </div>
    
        <div class="section_item">
            <h3 class="section_item_label">開催日</h3>
            <p class="section_item_content">{{ event.event_date }}</p>
        </div>
    
        <div class="section_item">
            <h3 class="section_item_label">開催場所</h3>
            <p class="section_item_content">{{ event.event_place }}</p>
        </div>
    
        <div class="section_item">
            <h3 class="section_item_label">イベント概要</h3>
            <p class="section_item_content">
                {{ event.event_overview }}
            </p>
        </div>
    
        <div class="section_item">
            <h3 class="section_item_label">チケット券種選択</h3>
            <p class="section_item_content">
                チケットの券種を選択してください。
            </p>
    
            <form class="event_reservation_form">
                <div class="event_reservation_form_container">
                    <label class="event_reservation_form_item">
                        <div class="event_reservation_radio_input_container">
                            <input type="radio" name="seat_id" class="event_reservation_radio_input">
                            S席
                        </div>
                        <span>￥13,000</span>
                    </label>
                    <label class="event_reservation_form_item">
                        <div class="event_reservation_radio_input_container">
                            <input type="radio" name="seat_id" class="event_reservation_radio_input">
                            A席
                        </div>
                        <span>￥9,000</span>
                    </label>
                    <label class="event_reservation_form_item">
                        <div class="event_reservation_radio_input_container">
                            <input type="radio" name="seat_id" class="event_reservation_radio_input">
                            立ち見
                        </div>
                        <span>￥7,000</span>
                    </label>
                </div>
            </form>
            <div class="event_reservation_buttons_container">
                <button class="section_button back_button" type="submit" onclick="location.href=`{{ url_for('customer_top') }}`">戻る</button>
                <button class="section_button submit_button">予約する</button>
            </div>
        </div>
    </div>
</section>

{% endblock %}