{% extends "layout_customer.html" %}

{% block body %}

<main>
<section class="section">
    <h1 id="main_title">イベント詳細</h1>
    <div class="section_container">
        <div class="section_item">
            <h3 class="section_item_label">イベント名</h3>
            <p class="section_item_content">{{ event.event_name }}</p>
        </div>
    
        <div class="section_item">
            <h3 class="section_item_label">イベントカテゴリ</h3>
            <p class="section_item_content">{{ event_category_name }}</p>
        </div>
    
        <div class="section_item">
            <h3 class="section_item_label">開催日</h3>
            <p class="section_item_content">{{ event.event_date }}</p>
        </div>
    
        <div class="section_item">
            <h3 class="section_item_label">開催場所</h3>
            <p class="section_item_content">{{ event.event_place }}</p>
        </div>
    
        <div class="section_item">
            <h3 class="section_item_label">イベント概要</h3>
            <p class="section_item_content">
                {{ event.event_overview }}
            </p>
        </div>
    
        <div class="section_item">
            <h3 class="section_item_label">チケット券種選択</h3>
            <p class="section_item_content">
                チケットの券種を選択してください。
            </p>
    
            <form method="post" action="{{ url_for('create_new_reservation', event_id=event.event_id) }}">
                <div class="event_reservation_form">
                    <div class="event_reservation_form_container">
                        {% for ticket in tickets %}
                            <label class="event_reservation_form_item">
                                <div class="event_reservation_radio_input_container">
                                    <input type="radio" name="ticket_id" value="{{ ticket.ticket_id }}" class="event_reservation_radio_input">
                                    {{ ticket.ticket_seat_name }}
                                </div>
                                <span>￥{{ ticket.ticket_price }}</span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
                <div class="event_reservation_buttons_container" style="margin-top: 90px;">
                    <input
                        type="button"   
                        formmethod="get"
                        class="section_button back_button"
                        onclick="location.href=`{{ url_for('customer_top') }}`"
                        value="戻る"
                    >
                    <input
                        type="submit"
                        value="予約する"
                        class="section_button submit_button"
                    >
                </div>
            </form>
        </div>
    </div>
</section>
</main>

{% endblock %}