{% extends "layout_customer.html" %}

{% block body %}
    
<section class="section">
    <h2 class="section_title">イベント詳細</h2>
    <div class="section_container">
        <div class="section_item">
            <h3 class="section_item_label">イベント名</h3>
            <p class="section_item_content">{{ event.event_name }}</p>
        </div>
    
        <div class="section_item">
            <h3 class="section_item_label">イベントカテゴリ</h3>
            <p class="section_item_content">{{ event_category_name }}</p>
        </div>
    
        <div class="section_item">
            <h3 class="section_item_label">開催日</h3>
            <p class="section_item_content">{{ event.event_date }}</p>
        </div>
    
        <div class="section_item">
            <h3 class="section_item_label">開催場所</h3>
            <p class="section_item_content">{{ event.event_place }}</p>
        </div>
    
        <div class="section_item">
            <h3 class="section_item_label">イベント概要</h3>
            <p class="section_item_content">
                {{ event.event_overview }}
            </p>
        </div>
    
        <div class="section_item">
            <h3 class="section_item_label">チケット券種選択</h3>
            <p class="section_item_content">
                チケットの券種を選択してください。
            </p>
    
            <form method="post" action="{{ url_for('create_new_reservation', event_id=event.event_id) }}">
                <div class="event_reservation_form">
                    <div class="event_reservation_form_container">
                        {% for ticket in tickets %}
                            <label class="event_reservation_form_item">
                                <div class="event_reservation_radio_input_container">
                                    <input type="radio" name="ticket_id" value="{{ ticket.ticket_id }}" class="event_reservation_radio_input">
                                    {{ ticket.ticket_seat_name }}
                                </div>
                                <span>￥{{ ticket.ticket_price }}</span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
                <!-- 期限切れのイベントの場合、予約ボタンを隠す -->
                {% if not is_expired %}
                    <div class="event_reservation_buttons_container">
                        <input
                            type="button"   
                            formmethod="get"
                            class="section_button back_button"
                            onclick="location.href=`{{ url_for('customer_top') }}`"
                            value="戻る"
                        >
                        {% if is_logged_in %}
                            <input
                                type="submit"
                                value="予約する"
                                class="section_button submit_button"
                            >
                        {% endif %}
                    </div>
                {% endif %}
            </form>
        </div>
        {% if is_expired %}
            <div class="section_item">
                <h3 class="section_item_label">レビュー評価</h3>
                <div class="review_stars_container big_stars">
                    {% for n in range(5) %}
                        {% if n + 1 <= avarage_review_score %}
                            <span class="reviewed">★</span>
                        {% else %}
                            <span>★</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="section_item">
                <h3 class="section_item_label">レビューコメント</h3>
                <form method="post" action="{{url_for('show_event', id=event.event_id)}}">
                    <select class="review_comment_select" name="sorted_pattern" onchange="submit(this.form)">
                        <option value="0">昇順</option>
                        <option value="1">降順</option>
                    </select>
                </form>
                {% for review in reviews %}
                    <div class="review_comment_item">
                        <div class="review_comment_head_section">
                            <div class="review_stars_container">
                                {% for n in range(5) %}
                                    {% if n + 1 <= review.review_score %}
                                        <span class="reviewed">★</span>
                                    {% else %}
                                        <span>★</span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <!-- HACK: 日付を表示する -->
                            <!-- <span>2024/10/10</span> -->
                        </div>
                        <h3 class="review_comment_title">{{ review.review_title }}</h3>
                        <p class="review_comment_content">{{ review.review_comment }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="event_reservation_buttons_container">
                <input
                    type="button"   
                    formmethod="get"
                    class="section_button back_button"
                    onclick="location.href=`{{ url_for('customer_top') }}`"
                    value="戻る"
                >
            </div>
        {% endif %}
    </div>
</section>

{% endblock %}