{% extends "layout_customer.html" %}

{% block body %}

<main>
    <body>
        <div class="container">
            <h2><div style="text-align: center">
                会員情報
            </h2></div>
            
                <div class = "form">
                    <p>アカウント名<span class="required">（必須）</span></p>
                        <p>{{ customer_account }}</p>


                    <p>パスワード<span class="required">（必須）</span></p>
                        <p>{{ customer_password }}</p>

                    <p>氏名</p>
                        <p>{{ customer_name }}</p>

                    <p>郵便番号</p>
                        <p>{ {customer_zipcode }}</p>

                    <p>住所</p>
                        <p>{{ customer_address }}</p>

                    <p>電話番号</p>
                        <p>{{ customer_phone }}</p>
                
                    <p>支払い方法</p>
                        <p>{{ customer_payment }}</p>

                </div>

                <div class = "button">
                <br>
                    <input type="button" class="other_button" value="戻る" onclick="location.href=`{{url_for('')}}`">
                    <input type="submit" class="other_button" value="確定" onclick="location.href=`{{url_for('')}}`">
                </div>
                <!-- (url_for('ビューに指定しているメゾット名')) -->
        </div>
    </body>
</main>


{% endblock %}