{% extends "layout_customer.html" %}

{% block body %}

<!-- メインコンテンツ領域 -->
<main>
	<div class="container">
		<h1 id="main_title">
			本当に退会しますか？
		</h1>

		<div class="event_reservation_buttons_container" id="button_area">
			<p>
				<input class="section_button back_button" type="button" 
				value="戻る" onClick="window.location.href=`{{url_for('mypage_mypage_top')}}`">
			</p>
			<p>
				<input type="button" class="section_button submit_button" style="background-color: #1C73F5; border: solid 2px #1C73F5;" 
				value="退会する" onClick="window.location.href=`{{url_for('customer_top')}}`">
			</p>
			
		</div>
	</div>
</main>
{% endblock %}